.announcement-header {
  background-color: #111111;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .announcement {
    color: white;
    font-family: sans-serif;
    font-size: small;
    font-weight: 500;
  }
}
